body {
  text-align: center;
  font-family: Helvetica;

}
.background {
  background-image: url("../../resources/images/the-flatiron-building.png");
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;

}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
footer {
  text-align: left;
  background-color: dimgray;

}
a {
  color: white;
  font-size: 18px;
}
#copy {
  color: white;
  font-size: 11px;
}
p {
  font-size: 14px
}
